html, body{
  min-height: 100%;
  height: 100%;
}

.fill{
  height: calc(100vh - 100px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

#userHubs {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 150px);
}

#forgeViewer {
  width: 100%;
}

#ec3userInfo{
  height: 20px;
}

.ec3exportToolbarButton {
  background-image: url(/img/ec3up.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.ec3importToolbarButton {
  background-image: url(/img/ec3down.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.ec3propertiesToolbarButton {
  background-image: url(/img/ec3props.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
